
.colorme{
  color: whitesmoke !important;
  
}

.colorme:hover{
  color: #f49529 !important;
}


.textcorusel{
 /* color: red; */
 font-size: 40px !important;
 font-weight: 800;
 background-color: white !important;
 color: #f1860f !important;
 border-radius: 50px;
}

.textcorusel1{
          color: blue;
}

.dropdown:hover>.dropdown-menu {
  background-color: rgb(233, 240, 240);
	display: block;
  cursor: pointer;
}

.aboutimg img {
  border-radius: 10px;
  align-items: center;
}

.text1 {
  /* font-family: 'Slabo 27px', serif; */
  
}

.text2 {
  /* font-family: 'Slabo 27px', serif; */
 color: whitesmoke;
}

@media (max-width:1024px){
  .footerr{
   width: 100%;  
  }
  
}



